<br/>

<div id="alert_placeholder"></div>

<div class="row">  
    <button type="button" class="btn btn-primary" id="stop_logs">Stop</button>
    <button type="button" class="btn btn-primary" id="clear_logs" data-clear="debug">Clear</button>
</div>

<br/>

<div class="row">
 <div class="input-group">
  <input type="text" list="cmdlist" class="form-control" id="sendContent" placeholder="Cmd..">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default" id="previousCmd"><span class="glyphicon glyphicon-arrow-up"></span></button>
    <button type="button" class="btn btn-default" id="clearCmdContent"><span class="glyphicon glyphicon-remove"></span></button>
    <button type="button" class="btn btn-default" id="send"><span class="glyphicon glyphicon-envelope"></span></button>
  </div>
  </div>
</div>

<br/>

<div class="row">
<div class="input-group">
  <input class="form-control" id="searchInput" type="text" placeholder="Search..">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default" id="clearSearch"><span class="glyphicon glyphicon-remove"></span></button> 
  </div>
</div>
<table class="table table-condensed table-bordered">
  <tbody id="logsTable">
    <tr>
      <td colspan="2" class="text-center"><img src="./assets/images/spinner.gif" alt="wait"/></td>
    </tr>
  </tbody>
</table>

<nav aria-label="...">
  <ul class="pager">
    <li class="previous" id="button_older"><a href="#older"><span aria-hidden="true">&larr;</span> Older</a></li>
    <li class="next" id="button_newer"><a href="#newer">Newer <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>

</div>