<div class="page-header">
    <h1>Logs</h1>
</div>

<div id="alert_placeholder"></div>

<div id="buttons_placeholder">
  <button type="button" class="btn btn-primary clear_logs" data-clear="debug">Clear</button> 
  <button type="button" class="btn btn-primary stop_logs">Stop</button>
</div>
<br/>
<input class="form-control" id="searchInput" type="text" placeholder="Search..">
<br/>

<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th class="col-xs-2">Date</th>
      <th class="col-xs-10">Message</th>
    </tr>
  </thead>
  <tbody id="logsTable">
    <tr>
      <td colspan="2" class="text-center"><img src="./assets/images/spinner.gif" alt="wait"/></td>
    </tr>
  </tbody>
</table>
